
/** App Level Styling */
@font-face {
  font-family: 'Block Stock';
  font-style: normal;
  font-weight: 400;
  src: local('Block Stock'), local('BlockStock'), url(http://localhost:3001/block_stock.ttf) format('truetype');
}

body {
  font-family: 'Roboto Slab', serif;
  color:white;
  background:black!important;
  margin:0;
  
}
.App{
  display: flex;
  & > .leftSection {
    position: fixed;
    height:100vh;
    width:100vw;
  }  
  & > .rightSection {
    position: relative;
    top:100vh;
    background: black;
  }
}
.paletteButton{ 
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.5em;
}

/** Navigation Styling */
.mainNavigation {
  position: absolute;
  width:10em;
  height:10em;
  background:black;
  border-radius:50%;
  transition: width 500ms,height 500ms;
  & > .navImage{
    transform:translate(6em,6em);
    position: absolute;
    & > img {
      position: absolute;
      z-index: 100;
      width:6em;
      height:6em;
      border-radius:50%;
      transform:translate(-0.5em,-0.5em);
    }
  }
  & > .navContent {
    position: absolute;
    transform:translate(6em,6em);
    & > a {
      position: absolute;
      display:block;
      width:5em;
      height:5em;
      background:white;
      border-radius:50%;
      transition: transform 500ms; 
    }
  }
}
.mainNavigation.active {
  width:17em;
  height:17em;
  top:3em;
  left:3em;
  transition: width 500ms,height 500ms, top 500ms, left 500ms;
  & > .navImage{
    transform:translate(6em,6em);
    position: absolute;
    & > img {
      position: absolute;
      z-index: 100;
      width:6em;
      height:6em;
      border-radius:50%;
      transform:translate(-0.5em,-0.5em);
    }
  }
  & > .navContent {
    position: absolute;
    transform:translate(6em,6em);
    & > a {
      position: absolute;
      display:block;
      width:5em;
      height:5em;
      background:white;
      border-radius:50%;
    }
    & > a:nth-of-type(1) { transform: rotate(0deg)   translate(6em) rotate(-0deg);
    transition: transform 500ms;   }
    & > a:nth-of-type(2) { transform: rotate(60deg)  translate(6em) rotate(-60deg);
    transition: transform 500ms;  }
    & > a:nth-of-type(3) { transform: rotate(120deg)  translate(6em) rotate(-120deg);
    transition: transform 500ms;  }
    & > a:nth-of-type(4) { transform: rotate(180deg) translate(6em) rotate(-180deg);
    transition: transform 500ms; }
    & > a:nth-of-type(5) { transform: rotate(240deg) translate(6em) rotate(-240deg);
    transition: transform 500ms; }
    & > a:nth-of-type(6) { transform: rotate(300deg) translate(6em) rotate(-300deg);
    transition: transform 500ms; }
  }
  
}
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity:0;
    animation-timing-function: linear;
  } 
  50% {
    transform: scale(0.5);
    animation-timing-function: linear;
  }
  80% {
    opacity:1;
    transform: scale(0.80);
    animation-timing-function: linear;
  }
  100% {
    transform: scale(1);
    opacity:0;
    animation-timing-function: linear;
  }
}

@keyframes appearInView {
  0% {
    opacity:0;
    animation-timing-function: linear;
  } 
  100% {
    opacity:1;
    animation-timing-function: linear;
  }
}


/** Header Styling */

.header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background:black;
  .starName {
    transform-origin: center;
    transform:translate(50vw,50vh);
  }
  .nameRectangles {
    opacity:0;
    animation: appearInView 0.5s 1;
    animation-fill-mode: forwards;
  }
  .nameRectangles:nth-child(11n+10) {
    animation-delay: 553ms;
  }
  .nameRectangles:nth-child(11n+3) {
    animation-delay: 827ms;
  }
  .nameRectangles:nth-child(11n+2) {
    animation-delay: 1140ms;
  }
  .nameRectangles:nth-child(11n+6) {
    animation-delay: 1467ms;
  }
  .nameRectangles:nth-child(11n+5) {
    animation-delay: 1542ms;
  }
  .nameRectangles:nth-child(11n+4) {
    animation-delay: 1955ms;
  }
  .nameRectangles:nth-child(11n+1) {
    animation-delay: 2384ms;
  }
  .nameRectangles:nth-child(11n+8) {
    animation-delay: 2883ms;
  }
  .nameRectangles:nth-child(11n+9) {
    animation-delay: 3384ms;
  }
  .nameRectangles:nth-child(11n+7) {
    animation-delay: 3890ms;
  }
  .nameRectangles:nth-child(11n) {
    animation-delay: 4s;
  }
  .starNameBanner{
    text {
      font-family: 'Block Stock',serif;
      opacity:0;
      animation: appearInView .2s 1;
      animation-delay: 4.5s;
      animation-fill-mode: forwards;  
    }
  }
  .starNameBannerFrontEnd {
    text {
      font-family: 'Block Stock',serif;
      opacity:0;
      animation: appearInView .2s 1;
      animation-delay: 5.1s;
      animation-fill-mode: forwards;  
    }
  }
  .starNameBannerBackEnd {
    text {
      font-family: 'Block Stock',serif;
      opacity:0;
      animation: appearInView .2s 1;
      animation-delay: 5.7s;
      animation-fill-mode: forwards;  
    }
  }
  .starNameBannerDevOps{
    text {
      font-family: 'Block Stock',serif;
      opacity:0;
      animation: appearInView .2s 1;
      animation-delay: 6.3s;
      animation-fill-mode: forwards;  
    }
  }
  .stars {
    transform-origin: center;
    opacity:0;
    animation: zoom 1.2s;
    animation-iteration-count:3;
  }
  .stars:nth-child(1) {
    background-position: 50% 50%;
    animation-delay: 0s;
  }
  .stars:nth-child(2) {
    background-position: 20% 60%;
    animation-delay: 0.4s;
  }
  .stars:nth-child(3) {
    background-position: -20% -30%;
    animation-delay: 0.8s;
  }
    & > .nameAndTagLine {
    & > .name {
      font-size: 5em;
      & > .lastName {
        margin-left: 0.1em;
        background: var(--darkest-color);
        padding:0.5em;
        color: var(--lightest-color);
      }
    }

    & > .tagline {
      margin-top:0;
    }
  }
}


@keyframes expand {
  0% {
    transform: rotate(40deg)translate(-7em,7em)scale(0,0);
  } 
  100% {
    transform: rotate(40deg)translate(-7em,7em)scale(1,1);
  }
}


.experienceSection {
  & > .experienceList {
    & > .experienceLabel {
      margin:0;
      font-size:3em;
      background: white;
      color: black;
      padding: 1rem;
    }
    & > .experienceItem {
      min-height: 100vh;      
      border:2px solid white;
      overflow:hidden;
      position: relative;
      & > .organization {
        position:relative;
        top:50vh;
        left:5vw;
        margin: 0;
        font-size: 2em;
        width: 8em;
      }
      & > .experienceDate {
        position:relative;
        top:50vh;
        left:5vw;
        font-size:1em;
        & > .startDate {

        }
        & > .endDate {

        }
      }
      & > .role {
        width:10vw;
        height:10vh;
        position: absolute;
        background:black;
        /*&:before{
          content: " ";
          width: 0.1vw;
          height: 32vh;
          z-index: 9999;
          border: 1px solid white;
          background: white;
          position: absolute;
        }*/
        & > .rolewrapper{
          background:black;
          position:relative;
          z-index:1111;
          width:100%;
          height:100%;
          overflow:hidden;
          & > .roleTitle {
            font-size: 1.25rem;
            margin-bottom:0;
          }
          & > .roleSummary {
  
          }
          & > .roleDescriptionList {
            display:none;
            & > .roleDescriptionListItem {
  
            }
           }
          }
      }
      & > .role + div {
        content: " ";
        width: 0.1vw;
        height: 32vh;
        z-index: 9999;
        border: 1px solid white;
        background: white;
        position: absolute;
      }
      & > .role:nth-child(5n) {
        left: 30vw;
        top: 10vh;
      }
      & > .role:nth-child(5n) + div {
        left: 30vw;
        top: 10vh;
        transform: rotate(40deg)translate(-7em,7em)scale(0,0);
        transform-origin: bottom left;
        animation: expand 1s 1;
        animation-fill-mode: forwards;  
        animation-delay: 2s;
      }
      & > .role:nth-child(5n+1) {
        top:80vh;
        left:30vw;
        &:before{
          transform: rotate(145deg)translate(-5em,10em);
          
        }
     }
      & > .role:nth-child(5n+2) {
        top:80vh;
        left:70vw;
        &:before{
          height:73vh;
          transform: rotate(116deg)translate(-15em,25em);
        }
      }
      & > .role:nth-child(5n+3) {
        top:50vh;
        left:50vw;
        &:before{
          transform: rotate(90deg)translate(-5em,10em);
          
        }
     }
      & > .role:nth-child(5n+4) {
        top:10vh;
        left:70vw;
        &:before{
          height:73vh;
          transform:rotate(60deg)translate(-16em,10em);          
        }
      }
    }
  }
}

.personalProjectSection {
  & > .personalProjects {
    & > .personalProjectsLabel {
      font-size: 3rem;
      background: var(--darkest-color);
      color: var(--lightest-color);
      padding: 1rem;
    }
    & > .projectList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      & > .project {
        color:var(--lightest-color);
        flex: 0 0 20em;
        padding: 1em;
        background: var(--darker-color);
        margin-bottom:3em;
        display: flex;
        flex-direction: column;
        & > .projectTitle{
          display:flex;
        }
        &  .projectURL {
          background: var(--lightest-color);
          padding:0.2em;
          text-decoration: none;
          flex-basis: 100%;
        }
        & .projectURL:hover {
          color: var(--lightest-color);
          background: var(--normal-color);
        }
      }      
    }
  }
}

.educationSection {
  .educationList {
    .educationLabel {
      font-size: 3rem;
      background: var(--darkest-color);
      color: var(--lightest-color);
      padding: 1rem;
    }
    .educationItem {
      .instituteAndLocation{
        font-size: 2em;
      }
    }
  }
}